body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}

.home-container {
  padding: 5% 20%;
}

.details-container {
  padding: 5% 5%;
}

.date-picker {
  width: 200px;
}

.bordered-container {
  border: 1px solid #d7d7d7;
  width: 100%;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  padding: 5px;
}
